<!-- Base template for all pages -->
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/creative.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/events">Events</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			<!-- Load HTML unique to page -->
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="bostonuniversityspark@gmail.com">email</a></li>
	        		<li><a href="https://github.com/bu-spark">github.com/bu-spark</a></li>
				</ul>
			</footer>
		</body>
	</html>
